<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126317292033-bid4c8gscfhsfsmgv7fln8dg0r3tetlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126317292033-bid4c8gscfhsfsmgv7fln8dg0r3tetlm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126317292033-00entcpcgbep5o2b3jvqo268m1imh3mt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhr2NB3RhUNhJtkpYI5cfMBATweef8LTg</string>
	<key>GCM_SENDER_ID</key>
	<string>126317292033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emser.tokin</string>
	<key>PROJECT_ID</key>
	<string>arcor-pdv</string>
	<key>STORAGE_BUCKET</key>
	<string>arcor-pdv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126317292033:ios:8706ffec7b1ea6af46ae00</string>
	<key>DATABASE_URL</key>
	<string>https://arcor-pdv.firebaseio.com</string>
</dict>
</plist>